.clouds {
  background: transparent;
  padding: 100px 0;
  width: 100%;

  .cloud {
    background: white;
    border-radius: 200px;
    height: 60px;
    position: absolute;
    width: 200px;
    z-index: 1;

    &:before,
    &:after {
      background: #fff;
      border-radius: 100px;
      content: "";
      height: 80px;
      left: 10px;
      position: absolute;
      top: -15px;
      transform: rotate(30deg);
      width: 100px;
    }

    &:after {
      height: 12rem;
      left: auto;
      right: 1.5rem;
      top: -5.5rem;
      width: 12rem;
    }

    &:nth-child(1) {
      animation: rollingClouds 45s linear infinite;
    }

    &:nth-child(2) {
      animation: rollingClouds 75s linear infinite;
      opacity: .8;
      transform: scale(.6);
    }

    &:nth-child(3) {
      animation: rollingClouds 30s linear infinite;
      opacity: .6;
      top: 20rem;
      transform: scale(.8);
    }

    &:nth-child(4) {
      animation: rollingClouds 100s linear infinite;
      opacity: .75;
      top: 25rem;
      transform: scale(.7);
    }

    &:nth-child(5) {
      animation: rollingClouds 77s linear infinite;
      opacity: .8;
      top: 15rem;
      transform: scale(.8);
    }

    &:nth-child(6) {
      animation: rollingClouds 42s linear infinite;
      opacity: .2;
      top: 18rem;
      transform: scale(.5);
    }
  }
}

@keyframes rollingClouds {
  0% {
     left: -10%;
   }
   50% {
     left: 50%;
   }
   100% {
     left: 100%;
   }
}
