.sky {
  height: 800px;
  background: #007fd5;
  position: relative;
  overflow: hidden;
  animation: rollingDay 50s ease-out infinite;
}

@keyframes rollingDay {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}
