.tree {
  position: relative;
  float: left;
  background: #4C9E0C;
  background: radial-gradient(
    farthest-corner at 90% 10%,
    #4C9E0C 0%,
    #4C9E0C 50%,
    #57b60e 51%,
    #57b60e 100%
  );
  border-radius: 45%;
  height: 7rem;
  width: 7rem;
  box-shadow: 15px 5px rgba(0, 0, 0, 0.1);
  animation: sway 3s ease-in-out infinite;
  animation-direction: alternate;
  transform-origin: bottom;
  animation-delay: 1s;
  margin: -1.5rem 2rem 4rem;
  z-index: 40;
}

.tree:before {
  content: "";
  position: absolute;
  top: 6rem;
  left: 3rem;
  background: brown;
  height: 2rem;
  width: 1.5rem;
  z-index: -1;
}

.tree:nth-child(2) {
  animation-delay: 3s;
}

.tree:nth-child(3) {
  animation-delay: 4s;
}

@keyframes sway  {
  0%  {
    transform: skewY(14deg);
  }
  60%  {
    transform: skewY(0deg);
  }
  100%  {
    transform: skewX(4deg);
  }
}
