@import "headers";

html {
  font-size: 60%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  overflow: hidden;
}

.scene {
  height: 100vh;
}

.drones {
  width: 90%;
  height: 90%;
  top: 5%;
  position: absolute;
  left: 5%;
}
