@import "sky";
@import "clouds";
@import "floor";
@import "tree";
@import "drone";
@import "headers";

html {
  font-size: 60%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
}

.scene {
  height: 100vh;
}
