.sky {
  height: 65vh;
  position: relative;
  overflow: hidden;
  animation: rollingDay 50s ease-out infinite;
  z-index: 10;
}

@keyframes rollingDay {
  0% {
    background: LightSkyBlue;
  }
  50% {
    background: MidnightBlue;
  }
  100% {
    background: DeepSkyBlue;
  }
}
