body {
  margin: 0;
  padding: 0;
	font-size: 1.5em;
}
h1 {
	padding: 0;
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h2,
h3,
h4,
h5 {
  color: #CC5500;
}
a {
	color: #008b8b;
}
ul li {
	padding-bottom: 5px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.sidebar {
  border-width: 1px;
  border-style: solid;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(#CC5500), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(#CC5500, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#CC5500, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(#CC5500, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, #CC5500, rgba(0, 0, 0, 0)) 1 100%;
}
