.drone {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-image: url("./drone.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 50;
  
  &.invert {
    filter: invert(100%);
  }

  &, &.battery {
    animation-duration: 2s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    transition: left 0.5s linear,
      top 0.5s linear;
  }

  .battery {
    width: 3px;
    height: 3px;
    text-align: center;
    background-color: green;
    display: inline-block;
    animation: blink 1s steps(5, start) infinite;
    margin-left: 2.3rem;
    margin-top: 2rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(1rem) rotate3d(0, 0, 1, -1deg);
  }

  100% {
     transform: translateY(-1rem) rotate3d(0, 0, 1, 1deg);
  }
}

@keyframes blink {
  0% {
    visibility: visible;;
  }
  100% {
    visibility: hidden;
  }
}
